<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil Me</title>
    <link rel="stylesheet" href="/components/html/css/styles.css" />
  </head>
  <body>
    <!-- Animated Background -->
    <div class="wrapper">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="main">
      <div class="logo">
        <img src="/images/logoaa-alaqsyar-160x50-cw1668157703.png" alt="" />
      </div>
      <div class="header">
        <h1>YAYASAN AMBADAR</h1>
        <h2>
          SMK
          <span class="header-span"> AL-AQSYAR ISLAMIC SCHOOL</span>
        </h2>
      </div>
    </div>
    <div class="menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <!-- content -->
    <div class="content-profile">
      <h1 class="content-text">Nama: Guntur Alamsyah Putra</h1>
      <h1 class="content-text">Kelas: XII TKJ</h1>
      <h1 class="content-text">JURUSAN: TEKNIK KOMPUTER & JARINGAN</h1>
    </div>

    <!-- Footer link -->
    <footer>
      <div class="social-media">
        <a href=""><i class="fa fa-facebook-square">FB: SMK AL-AQSYAR</i></a>
        <a href=""><i class="fa fa-instagram">IG: smkalaqsyar</i></a>
        <a href=""><i class="fa fa-youtube-play">TIKTOK: SMK Al-aqsyar</i></a>
        <a href=""><i class="fa fa-twitter-square">WEB: smk_alaqsyar</i></a>
      </div>
    </footer>
  </body>
</html>
